html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  vertical-align: baseline;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html, body {
  background-color: #f2f6fa;
  width: 100%;
  margin: 0;
  padding: 0;
}

.hero {
  background-color: #2c2c2c;
  background-image: url("Photo.15ddc7f4.svg");
  background-position: 100% 100%;
  background-repeat: no-repeat;
  border: 1px solid #2c2c2c;
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 35px;
  max-width: 2560px;
  height: 800px;
  margin: 0;
  padding: 0;
}

.header__container {
  align-items: center;
  display: flex;
}

.header__container li {
  align-items: center;
  margin-right: 48px;
  padding-top: 52px;
  display: inline-block;
}

.logo {
  padding-top: 48px;
  padding-left: 227px;
}

.wrapper {
  padding-left: 257px;
}

.link__only {
  color: #fff;
  letter-spacing: 3px;
  margin-left: 229px;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
}

.link {
  color: #fff;
  letter-spacing: 3px;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  color: #00f;
}

.main-content {
  color: #fff;
}

.button__about {
  color: #fff;
  background-color: #2060f6;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 40px;
  margin-top: 83px;
  margin-left: 227px;
  padding: 12px 30px;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  display: flex;
}

.main__text {
  font-family: Poppins, sans-serif;
  font-weight: 600px;
  letter-spacing: -2px;
  margin-top: 164px;
  margin-left: 227px;
  font-size: 64px;
  line-height: 68px;
}

.not__main__text {
  font-family: Open Sans;
  font-weight: 400;
  font-weight: 18px;
  margin-top: 32px;
  margin-left: 227px;
  line-height: 150%;
}

.about {
  text-align: center;
  color: #253757;
  justify-content: center;
  padding-top: 348px;
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-weight: 600;
  display: flex;
}

.def__text {
  color: #6c788b;
  text-align: center;
  justify-content: center;
  margin-top: 16px;
  font-family: Open Sans, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  display: flex;
}

.text__near__active__buttons {
  color: #fff;
  letter-spacing: 3px;
  margin-left: 999px;
  font-family: Poppins;
  font-weight: 700;
}

.main__text__2 {
  color: #253757;
  justify-content: center;
  margin-top: 128px;
  font-family: Poppins;
  font-size: 52px;
  font-weight: 600;
  line-height: 150%;
  display: flex;
}

.about__about {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 55px;
  width: 1600px;
  height: 759px;
  margin-top: 148px;
}

.expertise {
  text-align: center;
}

.cards {
  justify-content: center;
  gap: 230px;
  margin-top: 30px;
  display: flex;
}

.card {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.card img {
  border-radius: 10px;
  width: 150px;
  margin-top: 64px;
}

.card p {
  color: #253757;
  justify-content: center;
  margin-top: 40px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  display: flex;
}

.expertise h2 {
  color: #253757;
  margin-top: 128px;
  font-family: Poppins;
  font-size: 52px;
  font-weight: 600;
}

.expertise h3 {
  color: #6c788b;
  margin-top: 16px;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
}

.how__we__work__container {
  background-color: #fff;
  background-image: url("shapes.34b570bb.svg");
  background-repeat: no-repeat;
  max-width: 1600px;
  height: 888px;
  margin-top: 148px;
}

.how__we__work__container p {
  text-align: center;
  color: #253757;
  margin: 0;
  padding-top: 199px;
  font-family: Poppins;
  font-size: 52px;
  font-weight: 600;
  line-height: 150%;
}

.how__we__work__container h4 {
  color: #6c788b;
  text-align: center;
  margin: 0;
  padding-top: 24px;
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
}

.how__we__work__container a {
  width: 264px;
  height: 56px;
  margin-top: 64px;
  margin-left: 668px;
  padding: 0;
}

.services__info__text {
  flex-direction: column;
  justify-content: left;
  display: flex;
}

.services h2 {
  color: #c0cdd7;
  letter-spacing: 3px;
  margin-top: 251px;
  margin-left: 225px;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 700;
}

.services p {
  color: #253757;
  margin-top: 16px;
  margin-left: 227px;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 600;
  line-height: 130%;
}

.services h3 {
  color: #6c788b;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.basic__text__from__service {
  margin-top: 24px;
  margin-left: 227px;
}

.wrapper__service {
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  display: flex;
}

.wrapper__together {
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  display: flex;
}

.first__and__second__wrapp {
  display: flex;
}

.third__and__fourth__wrapp {
  flex-direction: column;
  margin-right: 227px;
  display: flex;
}

.wrapper__first__card {
  margin-top: 280px;
}

.wrapper__second__card, .wrapper__fourth__card {
  margin-top: 30px;
}

.main__styles {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 16px;
  width: 245px;
  height: 245px;
  padding: 32px;
}

.numbers__scss {
  color: #2060f6;
  text-align: center;
  background-color: #e9effe;
  border: 1px solid #e9effe;
  border-radius: 23px;
  justify-content: center;
  width: 46px;
  height: 24px;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 700;
  line-height: 25px;
  display: flex;
}

.main__text__card {
  color: #6c788b;
  padding-top: 24px;
  padding-bottom: 32px;
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 600;
  line-height: 150%;
}

.text__near__arrow {
  color: #334563;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 600;
  line-height: 100%;
  text-decoration: none;
}

.arrow__grid {
  align-items: center;
  gap: 16px;
  display: flex;
}

.testimonials__cards {
  justify-content: center;
  gap: 30px;
  display: flex;
}

.first__tistimonials__card {
  text-align: center;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 16px;
  width: 362px;
  height: 494px;
  margin-top: 85px;
}

.testimonials__photo__people {
  margin-top: 32px;
}

.testimonials__photo__object {
  margin-top: 24px;
}

.main__block__testimonials h4 {
  color: #6c788b;
  margin-top: 8px;
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 600;
  line-height: 150%;
}

.inf__about__testimonials_l {
  margin-top: 16px;
}

.inf__about__testimonials h6 {
  color: #253757;
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 600;
  line-height: 150%;
}

.inf__about__testimonials h5 {
  letter-spacing: 3px;
  color: #c0cdd7;
  margin-top: 4px;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 700;
  line-height: 100%;
}

.second__tistimonials__card, .third__tistimonials__card {
  text-align: center;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 16px;
  width: 362px;
  height: 494px;
  margin-top: 85px;
}

.testimonial__first__text p {
  color: #c0cdd7;
  letter-spacing: 3px;
  margin-top: 148px;
  margin-left: 227px;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 700;
}

.testimonial__first__text h1 {
  margin-top: 16px;
  margin-left: 227px;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
}

.footer {
  background-color: #2c2c2c;
  border: 1px solid #2c2c2c;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  height: 867px;
  margin: 0;
  padding: 0;
}

ul li::marker {
  content: "";
  display: none;
}

.link__footer {
  color: #fff;
  letter-spacing: 3px;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
  list-style: none;
  display: inline-block;
}
/*# sourceMappingURL=AIR v.1.bb7fe583.css.map */
