.footer {
  background-color: #2c2c2c;
  border: 1px solid #2c2c2c;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;

  margin: 0;
  padding: 0;
  height: 867px;
}

ul li::marker {
  content: "";
  display: none;
}

// NAV BAR FOOTER
.link__footer {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 13px;
  color: #ffffff;
  letter-spacing: 3px;
  text-decoration: none;
  list-style: none;
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 460px;
  height: 475px;
  padding-top: 56px;
  padding-left: 227px;
}
.paragraph__in__footer {
  display: inline-block;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  color: #ffffff;

  padding-top: 180px;
  padding-left: 227px;
}

input,
textarea {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 15px;
  line-height: 100%;
  width: 460px;
  padding: 17px 0px;
  resize: none;
  display: block;
  background: transparent;
  border-top: #ffffff;

  border-left: #ffffff;

  border-right: #ffffff;

  outline: none;
  color: #ffffff;
}

textarea {
  height: 22px;
}

input:focus,
textarea:focus {
  border-bottom-color: #144ed4;
  transition: border-color 0.3s;
}

.footer__button {
  display: flex;
  justify-content: center;

  font-family: "Poppins";
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
  background-color: #2060f6;

  border-radius: 8px;
  padding: 17px 112px 16px 113px;
  margin-left: 50px;
  color: #ffffff;
  transition: background-color 0.3s;
  cursor: pointer;
}

button:hover {
  color: #ffffff;
}

.form__all {
  display: flex;
}

.container__contacts {
  display: flex;
  flex-direction: column;
}

.container__contacts p {
  padding-left: 226px;
  padding-top: 180px;
  color: #ffffff;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
}

.container__contacts h5 {
  padding-left: 226px;
  padding-top: 56px;

  font-family: "Poppins";
  font-weight: 700;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 3px;
  color: #ffffff80;
}

.container__contacts h3 {
  padding-left: 226px;
  padding-top: 8px;

  font-family: "Open Sans";
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #ffffff;
}

.icons__web {
  display: flex;
  padding-left: 226px;
  padding-top: 16px;

  color: #ffffff;

  gap: 38px;
  min-width: 32px;
  min-height: 32px;
  cursor: pointer;
}

a svg {
  color: #ffffff;
}

a svg:hover {
  color: #2060f6;
  transform: scale(1.2);
}

.footer__container {
  display: flex;
  gap: 463px;
}

.link__footer {
  display: flex;
}
