// section header 


@media screen and (max-width:430px) {
    .nav__links{
        display: none;
    }
    .logo{
        padding: 21px;
    }
    .header__container{
        padding-top: 0;

    }
    .main__text{
        margin-top: 48px;
        margin-left: 21px;
    }
    .not__main__text{
        margin-left: 21px;
        text-align: center;
    }
    .button__about{
        margin: 70px 20px 0px 20px;
    }
}



// SECTION ABOUT

@media screen and (max-width:430px) {
    .about__wrapper{
        padding-top: 70px;
    }
}


// section expertise

@media screen and (max-width:430px) {
     
    .cards{
        flex-direction: column;
        gap: 20px;
    }    
    .about__about{
        height: 180vh;
        border: 0;
    }    
    .expertise h2{
        padding: 72px;
    }    
}    


// section services 


@media screen and (max-width:430px) {
    .wrapper__together{
        flex-wrap: wrap;
        flex-direction: column;
    }    
    .third__and__fourth__wrapp{
        flex-direction: column;
    }
     
    .services__info__text{
        margin-left: 20px;
    }
}    




// TESTIMONIALS SECTION

@media screen and (max-width:440px) {
    .testimonials__cards{
        flex-direction: column;
        align-items: center;
    }
    .testimonial__first__text p{
        margin-left: 20px;
    }
    .testimonial__first__text h1{
        margin-left: 20px;
    }
}


// DEFAULT SETTINGS
    @media screen and (max-width:440px) {
    
    br {
    display: none;
    }
}

// FOOTER

@media screen and (max-width:440px) {
    .contact__form{
        padding: 48px 0px 0px 20px;
        
    }
    input, textarea{
        width: 370px;
    }
    .paragraph__in__footer{
        padding: 72px 0px 0px 20px;
        margin: 0;
    }
    .footer__button{
        width: 280px;
    }
    .footer__button__wrapper{
        display: flex;
        margin-left: 20px;
    }
    .form__all{
        flex-direction: column;
    }
    .footer{
        height: 1439px;
    }

.container__contacts p {
    padding-left: 20px;
    padding-top: 0;
}
.container__contacts h5{
    padding-left: 20px;

}
.container__contacts h3{
    padding-left: 20px;
}
.icons__web{
    padding-left: 20px;
}
}