// DEFAULT SETTINGS
    @media screen and (max-width:450px) {
    
    br {
    display: none;
    }
}


// section header 
@media screen and (max-width:450px) {
    .hero{
    height: 1200px;
    }
    .nav__links{
        display: none;
    }
    .logo{
        padding: 21px;
    }
    .header__container{
        padding-top: 0;

    }
    .main__text{
        margin-top: 48px;
        margin-left: 21px;
    }
    .not__main__text{
        margin-left: 0px;
        text-align: center;
    }
    .button__about{
        margin: 70px 38px 0px 70px;
    }
}



// SECTION ABOUT

@media screen and (max-width:450px) {
    .about__wrapper{
        padding-top: 70px;
    }
    .about{
        margin-top: 450px;
    }
}


// section expertise

@media screen and (max-width:450px) {
     
    .cards{
        flex-direction: column;
        gap: 20px;
    }    
    .about__about{
        height: 150vh;
        border: 0;
    }    
    .expertise h2{
        padding-top: 72px;
        word-break: break-all;
    }
    .third__and__fourth__wrapp{
        margin-right: 0;
    }    
}    


// section services 


@media screen and (max-width:450px) {
    .wrapper__together{
        flex-wrap: wrap;
        flex-direction: column;
    }    
    .third__and__fourth__wrapp{
        flex-direction: column;
    }
     
    .services__info__text{
        margin-left: 20px;
    }
    .services h2{
        margin-top: 120px;
    }
    .wrapper__service{
        display: block;
    }
    .wrapper__first__card{
        margin-top: 48px;
    }
}    




// TESTIMONIALS SECTION

@media screen and (max-width:450px) {
    .testimonials__cards{
        flex-direction: column;
        align-items: center;
    }
    .testimonial__first__text p{
        margin-left: 20px;
    }
    .testimonial__first__text h1{
        margin-left: 20px;
        margin-bottom: 48px;
    }
}

//  HOW WE WORK
@media screen and (max-width:450px) {
.how__we__work__container {
    background-image: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.button__about__apply {
width: 280px;
}
}
// FOOTER

@media screen and (max-width:450px) {
    .contact__form{
        padding: 48px 0px 0px 20px;
        width: 0;
        
    }
    input, textarea{
        width: 370px;
    }
    .paragraph__in__footer{
        display: block;
        padding: 72px 20px;
        margin: 0;
        content: "\m";
        white-space: pre; 

    }
    .footer__button{
        width: 280px;
    }
    .footer__button__wrapper{
        display: flex;

    }
    .form__all{
        flex-direction: column;
    }
    .footer{
        height: 1200px;
    }

.container__contacts p {
    padding-left: 20px;
    padding-top: 0;
}
.container__contacts h5{
    padding-left: 20px;

}
.container__contacts h3{
    padding-left: 20px;
}
.icons__web{
    padding-left: 20px;
}
.footer__container{
    gap: 0;
}
}


