
.expertise {
    text-align: center;
  }
  
  .cards {
    display: flex;
    justify-content: center;
    gap: 230px; 
    margin-top: 30px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
  .card img {
    width: 150px;
    border-radius: 10px;
    margin-top: 64px;
  }
  
  .card p {
    display: flex;
    justify-content: center;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    margin-top: 40px;
    color: #253757;
  }
  
  .expertise h2{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 52px;
    color: #253757;
    margin-top: 128px;
  }
  
  .expertise h3{
    margin-top: 16px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    color: #6C788B;
  }
  